body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2.5rem;
}

.nav-link {
    color: black !important;
    font-size: 1.5rem;
}


/* footer */
.f-info {
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ebebeb;
}
.f-info-links a {
    text-decoration: none;
    color: black;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-socials i {
    font-size: 1.6rem;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
}

.card {
    border: none;
    margin-bottom: 2rem !important;

}

.card-img-top {
    border-radius: 1rem ;
    width: 100%;
    object-fit: cover;
    height: 18rem;
}

.card-body {
    padding: 0 !important;
}
.container a {
    text-decoration: none;
    color: black;
    background-color: white;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

.add-btn {
    background-color: #fe424d;
}

.show-img {
    height: 25rem;
    width: 35rem;
    box-shadow: 2px 2px 10px blue;
}

.review-card {
    border: 1px solid rgb(121, 121, 121);
}


#map { 
    height: 400px; 
    width: 100vh;
}
